@import nib

body
	padding-top 70px

.btn-primary > [class^="icon-"], [class*=" icon-"]
	font-size 1.5em
	line-height 0.5em

.form-control
	input&[type="text"].caption-box, textarea&.description-box
		border none
		border-radius 0
		box-shadow none
		outline none
		font-family "Helvetica Neue", Helvetica, Arial, sans-serif
		padding 0
		background-color transparent

		&[readonly], &[disabled]
			cursor default
			background-color transparent

	input&[type="text"].caption-box
		font-weight 500
		line-height 1.1
		font-size 24px

	textarea&.description-box
		font-size 14px
		resize none

#navbar2
	position relative

	&.affix
		position fixed
		left 0
		right 0
		top 70px
		z-index 100

		& + div
			margin-top 70px

		& > .backdrop
			position absolute
			left 0
			right 0
			top -20px
			bottom 0
			background-color white
			background linear-gradient(top, white 0, white 50px, transparent)

@media (max-width: 767px)
	.hide-sm
		display none

.icon-stack
	width 1em
	height 1em
	line-height 1em
	vertical-align -17%