body {
  padding-top: 70px;
}
input.form-control[type="text"].caption-box,
textarea.form-control.description-box {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  background-color: transparent;
}
input.form-control[type="text"].caption-box[readonly],
textarea.form-control.description-box[readonly],
input.form-control[type="text"].caption-box[disabled],
textarea.form-control.description-box[disabled] {
  cursor: default;
  background-color: transparent;
}
input.form-control[type="text"].caption-box {
  font-weight: 500;
  line-height: 1.1;
  font-size: 24px;
}
textarea.form-control.description-box {
  font-size: 14px;
  resize: none;
}
#navbar2 {
  position: relative;
}
#navbar2.affix {
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 100;
}
#navbar2.affix + div {
  margin-top: 70px;
}
#navbar2.affix > .backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  bottom: 0;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #fff), color-stop(1, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, #fff 0, #fff 50px, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, #fff 0, #fff 50px, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, #fff 0, #fff 50px, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, #fff 0, #fff 50px, rgba(255,255,255,0) 100%);
  background: linear-gradient(top, #fff 0, #fff 50px, rgba(255,255,255,0) 100%);
}
@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}
.icon-inline.icon-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: -17%;
}
.thumbnail.task {
  text-align: center;
  -webkit-transition: margin 0, border-width 0;
  -moz-transition: margin 0, border-width 0;
  -o-transition: margin 0, border-width 0;
  -ms-transition: margin 0, border-width 0;
  transition: margin 0, border-width 0;
  position: relative;
}
.thumbnail.task.selectable:hover {
  border-color: #428bca;
}
.thumbnail.task.selectable:hover .photoContainer {
  cursor: pointer;
}
.thumbnail.task.selected {
  border-color: #428bca;
  border-width: 2px;
  margin: -1px;
}
.thumbnail.task .photoContainer {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}
.thumbnail.task .photoContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.thumbnail.task .photoContainer .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.thumbnail.task .photoContainer .placeholder span.lead {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 5em;
  line-height: 1em;
  margin-top: -0.5em;
  color: #aaa;
}
.thumbnail.task .photoContainer .postingIcon {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.thumbnail.task .photoContainer .postingIcon span.lead {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 5em;
  line-height: 1em;
  margin-top: -0.5em;
}
.thumbnail.task .photoContainer .postingIcon span.lead i {
  color: inherit;
}
.thumbnail.task .photoContainer .postingIcon span.lead:nth-of-type(1) {
  font-size: 5em;
  color: rgba(0,0,0,0.8);
}
.thumbnail.task .photoContainer .postingIcon span.lead:nth-of-type(2) {
  font-size: 3em;
  -webkit-animation: cloudPulse 2s ease-in-out 0 infinite;
  -moz-animation: cloudPulse 2s ease-in-out 0 infinite;
  -o-animation: cloudPulse 2s ease-in-out 0 infinite;
  -ms-animation: cloudPulse 2s ease-in-out 0 infinite;
  animation: cloudPulse 2s ease-in-out 0 infinite;
}
.thumbnail.task .photoContainer .postingIcon span.lead:nth-of-type(3) {
  font-size: 3em;
  color: #fff;
}
.thumbnail.task .photoContainer .postingIcon span.lead:nth-of-type(4),
.thumbnail.task .photoContainer .postingIcon span.lead:nth-of-type(5) {
  font-size: 3em;
  color: rgba(255,255,255,0);
}
.thumbnail.task .photoContainer .postingIcon div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,0.5);
}
.thumbnail.task .photoContainer .postingIcon.success > span.lead:nth-of-type(1),
.thumbnail.task .photoContainer .postingIcon.success > span.lead:nth-of-type(2),
.thumbnail.task .photoContainer .postingIcon.success > span.lead:nth-of-type(3) {
  color: #5cb85c;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
  -webkit-transition: color 250ms;
  -moz-transition: color 250ms;
  -o-transition: color 250ms;
  -ms-transition: color 250ms;
  transition: color 250ms;
}
.thumbnail.task .photoContainer .postingIcon.success > span.lead:nth-of-type(4) {
  color: #fff;
  -webkit-transition: color 250ms;
  -moz-transition: color 250ms;
  -o-transition: color 250ms;
  -ms-transition: color 250ms;
  transition: color 250ms;
}
.thumbnail.task .photoContainer .postingIcon.failure > span.lead:nth-of-type(1),
.thumbnail.task .photoContainer .postingIcon.failure > span.lead:nth-of-type(2),
.thumbnail.task .photoContainer .postingIcon.failure > span.lead:nth-of-type(3) {
  color: #d9534f;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
  -webkit-transition: color 250ms;
  -moz-transition: color 250ms;
  -o-transition: color 250ms;
  -ms-transition: color 250ms;
  transition: color 250ms;
}
.thumbnail.task .photoContainer .postingIcon.failure > span.lead:nth-of-type(5) {
  color: #fff;
  -webkit-transition: color 250ms;
  -moz-transition: color 250ms;
  -o-transition: color 250ms;
  -ms-transition: color 250ms;
  transition: color 250ms;
}
.thumbnail.task .selectedIndicator {
  position: absolute;
  background-color: #428bca;
  top: 0;
  right: 0;
  border-bottom-left-radius: 4px;
  border-bottom: solid #fff 4px;
  border-left: solid #fff 4px;
}
.thumbnail.task .selectedIndicator i {
  display: block;
  padding: 9px 8px 9px 9px;
}
.thumbnail.task .videoIcon {
  position: absolute;
  left: 4px;
  bottom: 4px;
  color: #fff;
  text-outline: #000;
}
.thumbnail.task .videoIcon i {
  display: block;
  padding: 9px 9px 9px 8px;
  background-color: rgba(0,0,0,0.75);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.navbar .btn-toolbar {
  margin: 7px 0;
}
.navbar .btn-toolbar.pull-left {
  margin-left: 15px;
}
.navbar .btn-toolbar.pull-right {
  margin-right: 15px;
}
@-moz-keyframes cloudPulse {
  0% {
    color: rgba(255,255,255,0);
  }

  50% {
    color: #fff;
  }

  100% {
    color: rgba(255,255,255,0);
  }
}
@-webkit-keyframes cloudPulse {
  0% {
    color: rgba(255,255,255,0);
  }

  50% {
    color: #fff;
  }

  100% {
    color: rgba(255,255,255,0);
  }
}
@-o-keyframes cloudPulse {
  0% {
    color: rgba(255,255,255,0);
  }

  50% {
    color: #fff;
  }

  100% {
    color: rgba(255,255,255,0);
  }
}
@-ms-keyframes cloudPulse {
  0% {
    color: rgba(255,255,255,0);
  }

  50% {
    color: #fff;
  }

  100% {
    color: rgba(255,255,255,0);
  }
}
@keyframes cloudPulse {
  0% {
    color: rgba(255,255,255,0);
  }

  50% {
    color: #fff;
  }

  100% {
    color: rgba(255,255,255,0);
  }
}
